<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>index 메인페이지</title>
</head>

<body>
    <h1>안녕하세요!</h1>

    <!-- 1. 텍스트 출력 (html 태그 인식 안 함: th:text) -->
    <p th:text="${data}"></p>

    <!-- 2. HTML 태그 포함 출력 (th:utext) -->
    <span th:utext="${data1}">message</span>

    <!-- 3. input/select 값 지정 -->
    <input type="text" th:value="${data2}">
    <input type="checkbox" th:checked="${data2}"> 동의합니다.

    <!-- 4. 링크 속성 값 지정 -->
    <p><a th:href="@{/posts/(id=${link})}">글 상세보기</a></p>

    <!-- 5. 지역 변수 사용 -->
    <div th:with="first=${name}">
        <p>리스트에서 처음 사람의 이름 = <span th:text="${first}"></span></p>
    </div>

    <!-- 6. 링크에 파라미터 여러 개 추가하기 -->
    <a th:href="@{/products/detail/(productId=${para1}, categoryId=${para2})}">상품 상세보기</a>
    <br> <a href="/hello">홈페이지 메인</a>
</body>

</html>